html,
body {
	padding: 0;
	margin: 0;
	background-color: var(--greyscale-bg-dark) !important;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
	--greyscale-light-bg: #1b1b1b;
	--greyscale-bg-dark: #181818;
	--tutor-main: #ff9b33;
	--greyscale-bg-dark: #181818;
	--greyscale-white-50: rgba(255, 255, 255, 0.5);
}

a {
	color: inherit;
	text-decoration: none !important;
}

* {
	box-sizing: border-box;
	color: #ffffff;
}

@keyframes skeletonAnimate {
	0% {
		background-position: 0, 0;
	}

	100% {
		background-position: 170%, 0;
	}
}

.skeleton {
	animation: skeletonAnimate 2s linear 0s infinite reverse forwards;
	background-image: linear-gradient(90deg, #393939, #343434, #3c3c3c);
	display: inline-block;
	background-size: 200%;
}
